__pycache__/*
.vscode/*
.DS_Store
ssatABC/*
aif360/*
fair_Max_Entropy_Distributions/*
backup_output/*
data/output/fig/*
verifair/*
Fairsquare/*
Fairsquare/src/*
pgmpy_notebook/*
notears/*
npaq/*
*/*sdimacs*
data/model/*
data/output/*
poisoning_attacks/*
results*/*
pysat-0.1.6.dev6/*
Facts/*
qii/venv/*
shap/*
qii/.idea/*
qii/qii_tool*
fairness_influence_functions/.idea/
fairness_influence_functions/data/model/*
fairness_influence_functions/data/output/*
thesis_result*/*
_fairness_dataset/*
*.egg-info/*
.vscode/*
*/__pycache__/*
build/*
dist/*